body {
   background-color: #1d1d1d;
   text-align: center;
}
.notfound {
   display: flex;
   width: 100%;
   justify-content: center;
}
.notfound_container {
   width: 559px;
   padding-top: 50px;
   display: flex;
   flex-direction: column;
	align-items: center;

   & > * {
      margin-top: 20px;
		font: 400 16px arial;
   }
	& img {
		width: 400px;
		height: 320px;
		margin-bottom: 30px;
	}

	& h2 {
		font: 600 48px arial;
		color: #EBEEF5;
	}
	& span {
		color: #8E95A9;
	}
}

#goHomeBtn {
   padding: 20px;
	margin-top: 20px;
   background-color: #9b51e0;
   border-radius: 12px;
   border: 0;
   color: white;
   
}
