html{
    font-size: 10px;
}

/* Container  */

.container{
    max-width: 1100px;
    margin: auto;
}
.swiper-slide img{
    transition: all .9s
}
.box span{
    transition: all .9s
}
.box p{
    transition: all .9s
}
.swiper-slide:hover img{
    scale: 1.1;
}

.swiper-slide:hover .box > span{
    transform: translateY(-10px);
}
.swiper-slide:hover .box > p{
    transform: translateY(-7px);
}

img.active{
    filter: brightness(0) saturate(100%) invert(70%) sepia(87%) saturate(1368%) hue-rotate(145deg) brightness(103%) contrast(109%);
}