header {
   width: 80px;
   position: fixed;
   top: 0;
   left: 0;
   height: 100vh;
   backdrop-filter: blur(24px);
   box-shadow: 0px 40px 40px 8px rgba(0, 0, 0, 0.18);
   padding: 20px 0;
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 50px;
}

nav {
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 40px;
	margin-top: 40px;

   .logo {
      display: flex;
      justify-content: center;
      margin-top: 30px;

      img {
         width: 50px;
         object-fit: contain;
      }
   }
}

ul {
   display: flex;
   flex-direction: column;
   gap: 40px;
   padding: 0;
}

ul li {
   cursor: pointer;
}
a {
   color: white;
   padding: 17px;
   display: flex;
   justify-content: center;
   align-items: center;
}
a:hover {
   color: #0feffd;
   background-color: rgba(255, 255, 255, 0.1);
   border-radius: 8px;
}


