@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/* Ümumi Stil */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
  background-color: #171616;
  color: white;
}

.profile {
  margin-right: 116px;
}

#createBtn,
.okBtn,
.cancelBtn {
  width: 92px;
  padding: 12px 24px;
  background-color: #9b51e0;
  border-radius: 4px;
  border: none;
  margin-right: 28px;
  font-family: "Roboto", serif;
  color: white;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

#createBtn:hover,
.okBtn:hover,
.cancelBtn:hover {
  background-color: #58209d;
}

/* MAIN TABLE */
main {
  margin-top: 96px;
  margin-right: 75px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  font-family: "Nunito", serif;
}

thead {
  height: 48px;
  background-color: #1e1e1e;
}

tbody {
  color: #05111a;
}

tr td {
  box-shadow: 0px -1px 0px 0px #e6e7e9 inset, 0px 1px 0px 0px #e6e7e9 inset;
  background-color: #ffffff;
}

th,
td {
  text-align: center;
  border: none;
  font-weight: 400;
  font-size: 14px;
}

.action-icons {
  font-size: 16px;
  transition: transform 0.3s ease;
}

.remove:hover {
  transform: scale(1.2);
}

.remove {
  color: red;
  transition: color 0.3s ease, transform 0.3s ease;
}

.remove:hover {
  color: #ff4d4f;
}

/* MODAL OVERLAY */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

/* MODAL */
.modal,
.removeModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 24px;
  background-color: #1e1e1e;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  padding: 25px;
  z-index: 1000;
}

.modal-hidden {
  visibility: visible;
  opacity: 1;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 48px 53px 40px;
}

.removeModal p {
  color: white;
  font-size: 16px;
  text-align: center;
}

input {
  width: 467px;
  height: 56px;
  padding: 0 16px;
  border-radius: 12px;
  border: 1px solid #323b54;
  background-color: transparent;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  color: white;
  margin-bottom: 30px;
}

input::placeholder {
  color: #475069;
}

.submit {
  width: 464px;
  padding: 16px 32px;
  background-color: #9b51e0;
  font-weight: 400;
  font-size: 16px;
  color: white;
  cursor: pointer;
  line-height: 24px;
  border-radius: 12px;
  border: 2px solid #9b51e0;
}

.submit:hover {
  background-color: #58209d;
}

/* REMOVE MODAL */
.removeModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.removeModal p {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.removeModal button {
  padding: 12px 16px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  background-color: #9b51e0;
  color: white;
  cursor: pointer;
}

.removeModal button:hover {
  background-color: #58209d;
}

/* PAGINATION */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 5px 10px;
  margin: 0 5px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

.pagination button.active {
  background-color: #0056b3;
}

.pagination button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

/* MESSAGE MODAL */
.message-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease-in-out;
  z-index: 1000;
}

#messageModal {
  background-color: #1e1e1e;
  padding: 30px 40px;
  border-radius: 16px;
  text-align: center;
  width: 90%;
  max-width: 500px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

#messageModal p {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 20px;
}

#messageModal button {
  width: 100%;
  max-width: 200px;
  padding: 12px;
  background-color: #9b51e0;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#messageModal button:hover {
  background-color: #58209d;
}
